// UserForm.module.scss
.formControl {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-align: left;
  }

  input,
  textarea {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    min-width: 30rem;
    &:focus {
      outline: none;
      border-color: #eeb417;
    }
  }
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
